html,
body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
body,h3,ul,li
{
    margin: 0;
    padding: 0;
    list-style:none;
    box-sizing:border-box;
}


.lt_container {
    max-width: 640px;
    min-width: 320px;
    margin:0 auto;
    position: relative;
    height: 100%;
    width: 100%;

}
.lt_main
 {
    width: 100%;
    height: 100%;
    position: relative;
}


/* ============= banner区域 =================== */
.lt_banner {
    margin-top:45px;
}
/* ============= 品牌区域 =================== */
.lt_brand {
    margin: 10px;
    overflow: hidden;
}
.lt_brand a {
    float: left;
    width: 33.333%;
}
.lt_brand a img {
    width: 100%;
    display:block;
}
/* ============= 商品区域 =================== */
.lt_good {
    height: 500px;
    margin:0px 10px;
}
.lt_good ul {
    overflow: hidden;
}
.lt_good img {
    width: 130px;
    height: 130px;
    display: block;
    margin:0 auto;
}
.lt_good li {
    width: 48%;
    height: 266px;
    float: left;
    border:1px solid #ccc;
    margin-bottom:10px;

}
.lt_good li:nth-child(odd){
    margin-right:4%;
}
.lt_good li a {
    height: 244px;
    display: block;
    margin:11px;
    text-align:center;
}

.lt_good li .newPrice {
    color:red;
}
.lt_good li .oldPrice {
    color:#8f8f94;
    text-decoration:line-through;
}
.lt_good li button {
 width: 82px;
 height: 33px;
 margin:10px auto;
 display:block;
 background-color: #007aff;
}



