.bd_bg {
    background-color: #222D32;
}

.panel-title {
    height: 40px;
    line-height:40px;
    text-align:center;
    font-size:18px;
}


.mt_150 {
    margin-top:150px;
}

.nav {
    height: 100%;
    width: 180px;
    position: fixed;
    left:0;
    top:0;
    background-color: #222D32;
    z-index:999;
    transition:all 1s;
}
.nav.hid{
    transform: translateX(-180px);
}
.nav_title {
    height: 50px;
    width: 100%;
    font-size:24px;
    color:#fff;
    line-height:50px;
    text-align:center;
    background-color: #367FA9;
    margin-bottom:30px;
}
.nav_user {
    width: 180px;
    height: 150px;
}
.nav_user img{
    display:block;
    width: 80px;
    height: 80px;
    margin:0 auto;
    border-radius: 50%;
}
.nav_user p {
    color:#fff;
    font-size:18px;
    line-height:40px;
    height:40px;
    text-align:center;
}

.nav_list .current {
    background-color: #1D1F21;
    border-left:3px solid #006699;
}

.nav_list a {
    display:block;
    color:#fff;
    height: 40px;
    line-height:40px;
    text-align:center;
    text-decoration:none;
    border-left:3px solid transparent;
}
.nav_list div {
    display:none;
}
.nav_list div a {
    padding-left:16px;
}
.main {
    margin-left:180px;
    transition:all 1s;
}
.main.hid{
    margin-left:0px;
}
.main_header {
    height: 50px;
    width: 100%;
    background-color: #3C8DBC;
    position: fixed;
    left:0;
    top:0;
    padding-left:180px;
    transition:all 1s;
}
.main_header.hid{
    padding-left:0px;
}

.main_header a {
    width: 50px;
    height: 50px;
    color:#fff;
    font-size:16px;
    text-align:center;
    line-height:50px;
}
.main_bottom {
    height: 2000px;
    padding:70px 15px 0 15px;
    /* background-color: pink; */
}
.main_bottom a {
    text-decoration:none;
}
.modal-body {
    color:#A94442;
}

.main_col,
.main_bing {
    height: 400px;
    width: 48%;
}

.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}

/* 面包屑导航样式 */
.breadcrumb .active {
    color:#777;
    cursor:text;
}



/* ============== first页面================== */
.main_bottom .addCate {
    margin-bottom:10px;
}

#insertCate {
    padding-left:16px;
}
#insertCate .input-cate {
    height: 79px;
    margin-top:20px;
    padding:0 16px;
}
/* ============== second页面================== */
.secondLogo img{
    height: 50px;
    display: block;
    margin:0 auto;
}

.secondInsert {
    margin-top:16px;
}
.second_file {
    margin-bottom:0;
}

.second_input-cate {
    height: 49px;
    margin-top:20px;
}

.second_pic2 {
    margin:16px 0 20px 0px;
}

/* ============== goodManage页面================== */
#insertGood .input-cate {
    height: 79px;
    margin-top:20px;
    padding:0 16px;
}
.insertGood_box {
    padding:0 16px;
}
.insertGood_box_heaader {
    margin-bottom:15px;
}